# Virtual Environment folder
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# IDE-specific settings
.vscode/
.idea/

# OS-specific files
.DS_Store

# Local secrets file
.env

# Database files (these will be generated on-the-fly)
*.db
*.db-journal*