# Core data manipulation library
pandas

# For making HTTPS requests to AMFI
requests

# The Libraries to interact with PostgreSQL databases
SQLAlchemy
psycopg2-binary

# The Official AWS SDK for Python
boto3
