# UI and Data Manipulation
streamlit
pandas
plotly
numpy

# GenAI and Fuzzy Matching
langchain
langchain-google-genai
thefuzz
python-Levenshtein

# Cloud Connectivity
boto3
python-dotenv
SQLAlchemy
psycopg2-binary # <--- CRITICAL for connecting to PostgreSQL